@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    scrollbar-gutter: auto;
}


/* Comienza NavSection */

.nav-bar{
    width: 100%;
    height: 70px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:white;
    overflow: hidden; 
    box-shadow: 0.3px 1px 0.3px 1px rgba(105, 104, 104, 0.2);
    
}

.logo-nav{
    padding: 40px;
}

.logo-nav p{
    font-weight: 700;
    font-size: larger;
    color: #fd9b40;
}


.nav-bar ul{
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.nav-bar ul li{
    display: inline-block;
    padding-right: 25px;

} 

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .nav-bar{
        height: 250px;
    }

    .nav-bar ul li{
        display: block;
        text-align: left;
        padding: 10px;
    }
}

.nav-bar ul li a,
.nav-bar ul li a:after,
.nav-bar ul li a:before {
  transition: all .5s;
}

.nav-bar ul li a:hover {
    color: black;
}

.nav-bar ul li a{
    position: relative;
}

.nav-bar ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: black;
    height: 1px;
    margin-bottom: -7px;
    
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar img{
    padding-right: 30px;
}
/* Termina NavSection */

.purchases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 200px;
    margin: 200px 100px;
}

#aviones{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.Europa{
    display:flex;
    margin-bottom: 10px;
}
